.touzi{
	width: 1000px;
	height: 210px;
	padding: 10px;
	margin: auto;
	margin-top: 25px;
}

.touzi .touzi_left{
	width: 750px;
	height: 100%;
	float: left;
}

.touzi .touzi_left .touzi_top{
	margin-top: 0;
	height: 130px;
	position: relative;
}

.touzi .touzi_left .touzi_top .img_lefttop{
	width: 130px;
	height: 100%;
	display: block;
	float: left;
	border-bottom: none;
}

.touzi .touzi_left .touzi_top .touzi_top_right{
	width: 605px;
	height: 100%;
	float: right;
	margin-left: 15px;
}

.touzi .touzi_left .touzi_top .touzi_top_right p a {
	text-decoration: none;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
}

.touzi .touzi_left .touzi_top .touzi_top_right .buttom_1 {
	text-indent: 2em;
	display: block;
	margin-top: 25px;
	line-height: 20px;
	font-size: 15px;
	color: #808080;
	overflow: hidden;
}

.touzi .touzi_left .touzi_bottom {
	height: 80px;
	width: 100%;
	margin-top: 10px;
}

.touzi .touzi_left .touzi_bottom ul {
	width: 100%;
	height: 100%;
}

.touzi .touzi_left .touzi_bottom ul li {
	float: left;
	line-height: 35px;
	width: 50%;
}

.touzi .touzi_left .touzi_bottom ul li a {
	text-decoration: none;
	font-size: 13px;
	overflow: hidden;
	text-align: left;
}

.multipleLine {
	overflow: hidden;
	position: relative;
	width: 250px;
	float: right;
	height: 100%;
}

.multipleLine .bd{
	padding: 10px;
	overflow: hidden;
}

.multipleLine .bd ul {
	overflow: hidden;
	zoom: 1;
}

.multipleLine .bd ul li{
	margin: 0 8px;
	float: left;
	display: inline;
	overflow: hidden;
	text-align: center;
}

.multipleLine .bd ul li .pic {
	text-align: center;
}

.multipleLine .bd ul li .pic img {
	width: 93px;
	height: 93px;
	display: block;
	margin: 2px;
	border: 1px solid #CCCCCC;
}

.multipleLine .bd ul li .pic a:hover img {
	border-color: #999;
}

/*底部*/
.bottom_dibu{
	width: 1200px;
	height: 75px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #555555;
	line-height: 18px;
	color: gray;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 8px;
}

.bottom_dibu ul {
	width: 750px;
	height: 22px;
	margin: auto;
}

.bottom_dibu ul li {
	float: left;
	width: 79px;
	height: 100%;
	border-left: 1px solid #B8B8B8;
}

.bottom_dibu ul .bottom_dibu_ {
	width: 269px;
}

.bottom_dibu ul .bottom_dibu_ a {
	width: 259px;
}

.bottom_dibu ul li a {
	display: block;
	width: 70px;
	margin: auto;
	font-size: 14px;
	text-decoration: none;
}

.bottom_dibu ul li a:hover {
	color: #A8B4D2;
}
.bottom_dibu .line_h{
	line-height: 20px;
	font-size: 13px;
}
